%h2 Create New Report

- unless @report.errors.empty?
  #warning
    Errors prevented this report from being created.
    %ul
      - @report.errors.full_messages.each do |error|
        %li= error

= form_for(Report.create) do |f|

  %label{:for => :report_type} Report Type
  = f.select :report_type, Report::REPORT_TYPES
  %br

  %label{:for => :start_date} Start Date
  = f.date_field :start_date
  %br

  %label{:for => :end_date} End Date
  = f.date_field :end_date
  %br
  
  = hidden_field_tag :authenticity_token, form_authenticity_token

  = f.submit 'Preview', formaction: 'preview'
  %br

  = f.submit